p {
    font-family: Arial, sans-serif;
      color: blue;
      font-size: 20px;
}

h1 {
      color: rgb(22, 72, 31);
      font-size: 36px;
      line-height: 1.5;
}

#banner {
      background-color: #f8dfdf;
      height: 300px;
      width: 200px
      text-align: center;
}

#nav {
      background-color: #f8dfdf;
      padding: 10px;
      width: 150px
      text-align: center;

}

#footer {
      background-color: #7e97da;
      padding: 10px;
      text-align: center;
}

#content {
      background-color: #719e95;
      padding: 10px;
      float: left;
}